body {
  background-color: ghostwhite;
}
h1{
  font-family:cursive ;
}

.margin {
  margin-top:50px;
}

.box {
  border: 1px solid lightgrey;
  box-shadow: 1px 1px 5px 0.5px #354052;

  padding: 0px 0px 10px 10px;
  width: 30%;
  margin-top: 10px;
}

.bodybuttons {
  width: 80%;
  height: 30px;
  padding: 5px;
  /* margin-left: 25px; */
  border: 1px solid lightgrey;

}

.center {
  display: flex;
  justify-content: center;

}

.login {
  margin-top: 25px;
  padding: 5px;
  width: 83.5%;
  background-color: blue;
  border-color: blue;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  height: 50px;
}

.leftAlign {
  float: left !important;
  display: inline;
  width: 174px;
}

button {
  /* align-self: center; */
  background-color: rgb(33, 31, 28);
  color: white;
  border-radius: 5px;
  width: 10%;
  padding: 10px;
  height: 70px;
  font-weight: bolder;
  font-size: medium;
}